        @font-face{
            font-family: "Ubuntu";
            src: url(/fonts/Ubuntu-Regular.ttf);
        }
        @font-face{
            font-family: "IBMPlexMono";
            src: url(/fonts/IBMPlexMono-Regular.ttf);
        }

        *{
            margin: 0;
            padding: 0;
        }
        a{
            text-decoration: none;
            color: #FFFFFF;

        }

        body{
            background-color: #292F36;
            color: #FFFFFF;
            font-family: "IBMPlexMono";
        }

        h3{
            font-size: 18px;
            font-weight: 500;
            margin-left: 24px;
        }

        .header__logo{
            display: flex;
            justify-content: space-between;
            
        }
        nav{
            display: flex;
            justify-content: space-between;
            padding: 5px 20px;
            align-items: auto;
            border-bottom: solid rgb(104, 104, 104) 1px;
        }
        .header__logo__prefix{
            color: #12F7D6;
        }
        .head__hyperlinks__search{
            border-radius: 30px;
        }
        .developer{
            color: #98faec;
            text-align: center;
            font-size: 50px;
            font-family: "Ubuntu";
            padding: 15px
        }
        .h1{
            font-size: 14px;
            text-align: justify;
            color: #98FAEC;
            align-self: flex-start;
        }
        .osnov{
            align-items: center;
            justify-content: center;
            padding: 0px 17px;
            font-family: "Ubuntu";
        }
        .Sinar{
            color: #12F7D6;
        }
        .close{
            font-size: 14px;
            color: #12F7D6;
            align-self: flex-end;
        }
        .ab{
            display: block;
        }
        .p--iHelp{
            font-size: 18px;
            color: #12F7D6;
            align-self: flex-end;  
        }
        .slep--iHelp{
                font-size: 18px;
            color: #12F7D6;
            align-self: flex-end; 
        }
        .content{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .hs{
            font-size: 72px;
        }
        .skils--counter{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 215px;
            height: 378px;
            border-radius: 90px;
            background-color: hsl(213, 15%, 12%);  
        }
        .span--sc{

            display: flex;
            color: #12F7D6;
            font-size: 48px;
        }
    .about{
        background-image: url(images/about--background.png);   
    }
    .about--hello{
        width: 880px;
        height: 377px;
        border-radius: 40px;
        background-color: #353637;

    }
    .about--popen{
        color: #12F7D6;
        font-size: 14px;
    }
    .Hello{
        color: #12F7D6;
        font-size: 32px; 
    }
    .lang__lp{
        color: #12F7D6;   
    }